body{
    background-image: url("../img/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#cim{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 15px;
    width: 200px;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    padding-bottom: 10px;
    margin-bottom: 5px;
    
}

h2{
    font-size: 45px;
}
#orarend{
    display: flex;
    flex-direction: row;

}

#hetkoznap, #hetvege{
    border: 2px solid rgb(255, 255, 255);
    display: flex;
    border-radius: 15px;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: rgb(255, 255, 255, 0.5);
    margin-bottom: 3px;
    max-width: 1200px;
    min-height: 100px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#hetvege{
    width: 600px;
}

.tanora, .szabadido{
    border: 2px solid rgb(255, 255, 255);
    border-radius: 15px;
    padding: 2px;
    text-align: center;
    width:  180px;
    height: 60px;
    margin-top: 3px;
    margin-bottom: 3px;

}

.tanora > p, .szabadido > p{
    font-size: 18px;
    margin: 0px;
    padding: 0px;
}

.tanora > h3, .szabadido > h3{
    font-size: 20px;
    margin: 0px;
}

.lyukasora{
    visibility: hidden;
}

#dm
{
    width: 30px;
    height: 30px;
}

#btn{
    display: none;
}


