body {
    background-image: linear-gradient(to right bottom, #ff00ff, #a977ff, #2e9dff, #00b1ff, #00bcf0);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

#container {
    text-align: center;
}

#selectedcity {
    display: none;
    border-radius: 20px;
    border: 2px solid black;
    width: fit-content;
    height: fit-content;
    margin-right: auto;
    margin-left: auto;
    margin-top: 15px;
    padding: 10px;
    
}

input {
    width: 100px;
    height: 23px;
    background: none;
    border: 1px solid black;
    border-radius: 15px;
    padding: 3px;
}

button {
    background: #aa34d9;
    background-image: -webkit-linear-gradient(top, #aa34d9, #03d5fa);
    background-image: -moz-linear-gradient(top, #aa34d9, #03d5fa);
    background-image: -ms-linear-gradient(top, #aa34d9, #03d5fa);
    background-image: -o-linear-gradient(top, #aa34d9, #03d5fa);
    background-image: linear-gradient(to bottom, #aa34d9, #03d5fa);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Courier New;
    color: #00b1ff;
    font-size: 16px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

button:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
    scale: 1.2;
    transition: all 0.2s;
}
