body {
    display: flex;
    justify-content: space-evenly;
    align-items:center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(4, 200px);
    gap: 20px;
}

.card {
    width: 150px;
    height: 225px;
    background-image: url(../img/card_back.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    color: #fff;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.5s ease;  
}

.selected {
    background-image: url(../img/card_front.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    color: red;
    width: 150px;
    height: 225px;
    animation: flip 1s ease forwards;

}
  
@keyframes flip {
    0% {
      transform: rotateY(180deg);
      
    }
    100% {
      transform: rotateY(360deg);
    }
}

@media (max-width: 800px) {
    .card {
      width: 80px;
      height: 120px;
      font-size: 18px;
      gap: 5px;
    }  
}