*{
    margin: 0px;
}

#container{
    display: flex;
    height: 100%;
    flex-direction: column;
}
#fo{
    display: flex;
    height: 600px;
    gap: 5px;
    margin: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#lila{
    padding: 20px;
    display: flex;
    height: 25px;
    background-color: purple;
}

.sarga{
    flex: 3;
    background-color: yellow;
}
.zold{
    flex: 1;
    background-color: green;
}

.cian{
    background-color: cyan;
    height: 30px;
    width: 100px;
    margin-left: 15px;
}

.szurke{
    margin-top: 5px;
    background-color: grey;
    height: 70px;
    margin-left: 50px;
    margin-right: 50px;
}
