#container{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 400px;
    background-color: yellow;
    align-items: center;
    justify-content:space-between;
    gap: 2px;
    
}

.lila{
    background-color: purple;
}

.item{
    width: 100px;
    height: 100px;
}