body{
    background-color: aqua;
}

.container{
    text-align: center;
    justify-content: center;
    width: 90vw;
    height: 90vh;
}
.bekeres{
    padding-top: 5px;
    
}

#szoveg{
    border: 2px solid rgb(252, 255, 100);
    border-radius: 5px;
}

.flexboxok{
    display: flex;

    flex-direction: row;
    flex-wrap: wrap;
}

.kartya{
    background-color: white;
    border: 2px solid black;
    width: 100px;
    height: 80px;
}