.grid-container{
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px 100px;
    width: fit-content;
}

.grid-item2{
    background-color: blueviolet;
    grid-area: 1/2/5/3;
}

.grid-item1{
    background-color: blueviolet;
    grid-area: 2/1/4/4;
}